.nav-bar li{
	display: inline;
	font-family: Arial;
	padding-left: 25px;
	padding-right: 15px;
}

.nav-bar {
    width: 90%;
    margin: 1%;
}

.nav-bar ul{
	background-color: #FFB4B0;
	border-style: solid;
	border-width: 3px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-bar li+li { 
	border-left: 2px solid #000000 
}

body {
	font-family: Arial;
}

.range-slider {
    border: 1px solid #DDDDDD;
    margin: 5px;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    display: block;
    height: 0.88889rem;
    width: 85%;
    background: #FAFAFA;
}

.range-slider-handle {
    border: 1px solid none;
    cursor: pointer;
    display: inline-block;
    height: 1.22222rem;
    position: absolute;
    top: -0.27778rem;
    width: 1.77778rem;
    z-index: 1;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #008CBA
 }

.article-one{
	background-color: #4DD7FA;
	border-style:solid;
    display: inline-block;
	width: 25%;
    height: 400px;
	float: left;
    margin: 1%;
    padding-left:1%;
    padding-top:2%;
    padding-bottom: 2%

}

.checkbox-grid  {
    list-style-type: none;
	display: grid;
}

.song-info{
	background-color: #FEFAC0;
	border-style: solid;
	width: 62%;
    height: 427px;
    display: inline-block;
	float:left;
    margin: 1%;
    padding: 1%;

}

.song-name {
	color: #785616;
    padding-left: 25px;
}

.songs{
	padding: 6px;
    color: goldenrod;
    font-size: 18px;
    font-weight: bold;
}


.dropdown2 {
    position: relative;
    display: inline-block;
    padding: 5px;
}

.dropdown-content2 {
    width: 160px;
   
}

.amUL {
    list-style-type: none;
    text-align: center;
    margin-top: 15%;
}

.amUL li {
    padding-bottom: 4px;
    padding-top: 4px;
}

.filter-btn {
    margin-left: 35%;
    font-size: 15px;
}
